[flake8]
# Максимальная длина строки
max-line-length = 120
# Игнорировать некоторые предупреждения (можно добавить свои коды при необходимости)
ignore = E203, W503
# Исключить виртуальное окружение и другие не нужные папки
exclude =
    .venv,
    __pycache__,
    .git,
    .mypy_cache,
    .pytest_cache